.current-number {
  font-size: 200px;
  font-weight: bold;
  color: #ffffff;
}

.animate-flash {
  animation: flash 0.5s ease-in-out;
}

@keyframes flash {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}